<header>
    <div class="container">
        <div class="header__main">
            <div class="header-logo-stat">
                <div class="header__logo">
                    <a href="https://rozblokuvannia.com.ua/">
                        <img src="/img/other_img/logo.svg" alt="Logo">
                    </a>
                </div>
                <div class="block__stat">
                    <hr class="devider">
                    <p>Розблокували клієнтам більше<br>100'000'000 грн ПДВ з 2015 року</p>
                </div>
            </div>
            <div class="social-number">
                <div class="social-icons">
                    <a href="#"><i class="fa-brands fa-facebook-f"></i></a>
                    <a href="#"><i class="fa-brands fa-instagram"></i></a>
                    <a href="#"><i class="fa-brands fa-telegram"></i></a>
                    <a href="#"><i class="fa-brands fa-whatsapp"></i></a>
                </div>
                <a class="call" href="tel:+380(097)9373707">+38 097 937 37 07</a>
            </div>
        </div>
    </div>
</header>