<section class="main-info">
    <div class="container">
        <div class="info-text-photo">
            <div class="info-text-details">
                <h1>ЗАБЛОКОВАНІ <br><span class="animation_text">ПОДАТКОВІ НАКЛАДНІ?</span></h1>
                <span>КОМПАНІЙ БАГАТО - ОБИРАТИ ВАМ!<br>
                    АЛЕ МИ НЕ ПРОСТО ГОТУЄМО ДОКУМЕНТИ,<br>
                    МИ 100% РОЗБЛОКУЄМО ПН/РК</span>
                <div class="work_experience">
                    <div class="work_experience_img">
                        <img src="/img/other_img/first_screen_icon.svg" alt="Experience work">
                    </div>
                    <div class="work_experience_text">
                        <h3>МИ ЗАПРОПОНУЄМО НАЙМЕНШУ ЦІНУ, ТАК ЯК ДЛЯ НАС<br> ВАЖЛИВИЙ ДО РОЗБЛОКУВАННЯ КОЖЕН ПДВ!</h3>
                        <h3>З 2015 р. МИ РОЗБЛОКУВАЛИ БІЛЬШЕ 100 млн ПДВ<br> НАШИМ КЛІЄНТАМ І ЗРОБИМО ЦЕ ВАМ!</h3>
                        <h3>МИ СПЕЦІАЛІЗУЄМОСЬ НА ПОДАТКАХ БІЛЬШЕ 10 РОКІВ ТА<br> В КОЖНОМУ ПРОЄКТІ ПРАЦЮЄМО З
                            АУДИТОРОМ!</h3>
                    </div>
                </div>
                <button class="btn">Отримати безкошковну<br> консультацію</button>
            </div>
            <div class="info-photo">
                <img src="/img/other_img/foto_christina.png" alt="Кристина Шох">
                <div class="info-text-block_names">
                    <h2>Кристина шох</h2><br>
                    <p>податковий адвокат з 2012 р.</p>
                </div>
            </div>
        </div>
    </div>
</section>